name: Build Debug ISO

on:
  workflow_dispatch:

jobs:
  build-iso:
    name: Build Iso
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: read
    steps:
      - name: Maximize build space
        uses: ublue-os/remove-unwanted-software@v9
      - name: Build ISO
        uses: jasonn3/build-container-installer@main
        id: build
        with:
          arch: x86_64
          image_name: upurple
          image_repo: ghcr.io/fluoritebyte
          image_tag: latest
          version: 49
          variant: Server
          iso_name: upurple-${{ github.head_ref }}-${{ github.sha }}.iso

      - name: Upload ISO as artifact
        id: upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build.outputs.iso_name }}
          path: |
            ${{ steps.build.outputs.iso_path }}/${{ steps.build.outputs.iso_name }}
            ${{ steps.build.outputs.iso_path }}/${{ steps.build.outputs.iso_name }}-CHECKSUM
          if-no-files-found: error
          retention-days: 0
          compression-level: 6
